/* SPACING */
$spacing: 1.6em;

/* FONTS */
$size-xxxl: 2.2rem;
$size-xxl: 1.7rem;
$size-xl: 1.4rem;
$size-l: 1.3rem;
$size-ml: 1.2rem;
$size-m: 1.1rem;
$size: 1rem;
$size-s: .9rem;
$size-xs: .8rem;
$size-xxs: .75rem;
$size-xxxs: .7rem;
$size-xxxxs: .6rem;
$family-default: '"Source Sans Pro", Helvetica, Helvetica, Arial, sans-serif';
$family-titles: '"PT Sans Narrow","Arial Narrow", Tahoma, sans-serif';

/* COLORS */
$foreground: #424242;
$foreground-light: #9b9b9b;
$background: #fdfdfd;
$primary: #407C8E;
$secondary: #3ACED1;
$info: #1E72A6;
$ok: #879436;
$ko: #b32d20;
$warning: #DFB84F;
