/* SPACING */
/* FONTS */
/* COLORS */
/* line 1, ../../src/scss/_atomic-margins-padding.scss */
.pt-n, .pv-n, .pa-n {
  padding-top: 0 !important; }

/* line 2, ../../src/scss/_atomic-margins-padding.scss */
.pt-s, .pv-s, .pa-s {
  padding-top: 0.4em !important; }

/* line 3, ../../src/scss/_atomic-margins-padding.scss */
.pt-m, .pv-m, .pa-m {
  padding-top: 0.8em !important; }

/* line 4, ../../src/scss/_atomic-margins-padding.scss */
.pt-l, .pv-l, .pa-l {
  padding-top: 1.6em !important; }

/* line 5, ../../src/scss/_atomic-margins-padding.scss */
.pt-xl, .pv-xl, .pa-xl {
  padding-top: 3.2em !important; }

/* line 6, ../../src/scss/_atomic-margins-padding.scss */
.pr-n, .ph-n, .pa-n {
  padding-right: 0 !important; }

/* line 7, ../../src/scss/_atomic-margins-padding.scss */
.pr-s, .phs, .pa-s {
  padding-right: 0.4em !important; }

/* line 8, ../../src/scss/_atomic-margins-padding.scss */
.pr-m, .ph-m, .pa-m {
  padding-right: 0.8em !important; }

/* line 9, ../../src/scss/_atomic-margins-padding.scss */
.pr-l, .ph-l, .pa-l {
  padding-right: 1.6em !important; }

/* line 10, ../../src/scss/_atomic-margins-padding.scss */
.pr-xl, .ph-xl, .pa-xl {
  padding-right: 3.2em !important; }

/* line 11, ../../src/scss/_atomic-margins-padding.scss */
.pb-n, .pv-n, .pa-n {
  padding-bottom: 0 !important; }

/* line 12, ../../src/scss/_atomic-margins-padding.scss */
.pb-s, .pv-s, .pa-s {
  padding-bottom: 0.4em !important; }

/* line 13, ../../src/scss/_atomic-margins-padding.scss */
.pb-m, .pv-m, .pa-m {
  padding-bottom: 0.8em !important; }

/* line 14, ../../src/scss/_atomic-margins-padding.scss */
.pb-l, .pv-l, .pa-l {
  padding-bottom: 1.6em !important; }

/* line 15, ../../src/scss/_atomic-margins-padding.scss */
.pb-xl, .pv-xl, .pa-xl {
  padding-bottom: 3.2em !important; }

/* line 16, ../../src/scss/_atomic-margins-padding.scss */
.pl-n, .ph-n, .pa-n {
  padding-left: 0 !important; }

/* line 17, ../../src/scss/_atomic-margins-padding.scss */
.pl-s, .ph-s, .pa-s {
  padding-left: 0.4em !important; }

/* line 18, ../../src/scss/_atomic-margins-padding.scss */
.pl-m, .ph-m, .pa-m {
  padding-left: 0.8em !important; }

/* line 19, ../../src/scss/_atomic-margins-padding.scss */
.pl-l, .ph-l, .pa-l {
  padding-left: 1.6em !important; }

/* line 20, ../../src/scss/_atomic-margins-padding.scss */
.pl-xl, .ph-xl, .pa-xl {
  padding-left: 3.2em !important; }

/* line 21, ../../src/scss/_atomic-margins-padding.scss */
.mt-n, .mv-n, .ma-n {
  margin-top: 0 !important; }

/* line 22, ../../src/scss/_atomic-margins-padding.scss */
.mt-s, .mv-s, .ma-s {
  margin-top: 0.4em !important; }

/* line 23, ../../src/scss/_atomic-margins-padding.scss */
.mt-m, .mv-m, .ma-m {
  margin-top: 0.8em !important; }

/* line 24, ../../src/scss/_atomic-margins-padding.scss */
.mt-l, .mv-l, .ma-l {
  margin-top: 1.6em !important; }

/* line 25, ../../src/scss/_atomic-margins-padding.scss */
.mt-xl, .mv-xl, .ma-xl {
  margin-top: 3.2em !important; }

/* line 26, ../../src/scss/_atomic-margins-padding.scss */
.mr-n, .mh-n, .ma-n {
  margin-right: 0 !important; }

/* line 27, ../../src/scss/_atomic-margins-padding.scss */
.mr-s, .mh-s, .ma-s {
  margin-right: 0.4em !important; }

/* line 28, ../../src/scss/_atomic-margins-padding.scss */
.mr-m, .mh-m, .ma-m {
  margin-right: 0.8em !important; }

/* line 29, ../../src/scss/_atomic-margins-padding.scss */
.mr-l, .mh-l, .ma-l {
  margin-right: 1.6em !important; }

/* line 30, ../../src/scss/_atomic-margins-padding.scss */
.mr-xl, .mh-xl, .ma-xl {
  margin-right: 3.2em !important; }

/* line 31, ../../src/scss/_atomic-margins-padding.scss */
.mb-n, .mv-n, .ma-n {
  margin-bottom: 0 !important; }

/* line 32, ../../src/scss/_atomic-margins-padding.scss */
.mb-s, .mv-s, .ma-s {
  margin-bottom: 0.4em !important; }

/* line 33, ../../src/scss/_atomic-margins-padding.scss */
.mb-m, .mv-m, .ma-m {
  margin-bottom: 0.8em !important; }

/* line 34, ../../src/scss/_atomic-margins-padding.scss */
.mb-l, .mv-l, .ma-l {
  margin-bottom: 1.6em !important; }

/* line 35, ../../src/scss/_atomic-margins-padding.scss */
.mb-xl, .mv-xl, .ma-xl {
  margin-bottom: 3.2em !important; }

/* line 36, ../../src/scss/_atomic-margins-padding.scss */
.ml-n, .mh-n, .ma-n {
  margin-left: 0 !important; }

/* line 37, ../../src/scss/_atomic-margins-padding.scss */
.ml-s, .mh-s, .ma-s {
  margin-left: 0.4em !important; }

/* line 38, ../../src/scss/_atomic-margins-padding.scss */
.ml-m, .mh-m, .ma-m {
  margin-left: 0.8em !important; }

/* line 39, ../../src/scss/_atomic-margins-padding.scss */
.ml-l, .mh-l, .ma-l {
  margin-left: 1.6em !important; }

/* line 40, ../../src/scss/_atomic-margins-padding.scss */
.ml-xl, .mh-xl, .ma-xl {
  margin-left: 3.2em !important; }

/* VARIABLES */
/* line 32, ../../src/scss/styles.scss */
.mongo.restaurants.smallcode > div {
  top: -40px !important; }
  /* line 34, ../../src/scss/styles.scss */
  .mongo.restaurants.smallcode > div pre code {
    font-size: 16px; }

/* line 39, ../../src/scss/styles.scss */
.mongo.update img, .mongo.remove img {
  width: 920px;
  margin-left: -60px;
  margin-top: 70px; }

/* line 45, ../../src/scss/styles.scss */
.mongo.find img {
  width: 920px;
  margin-left: -20px;
  margin-top: 70px; }

/* line 51, ../../src/scss/styles.scss */
.mongo.insert img {
  width: 830px;
  margin-top: 40px; }

/* line 56, ../../src/scss/styles.scss */
.mongo.collection img {
  width: 680px;
  margin-left: 40px;
  margin-top: 20px; }

/* line 62, ../../src/scss/styles.scss */
.mongo.document img {
  width: 680px;
  margin-left: 70px;
  margin-top: 20px; }

/* line 68, ../../src/scss/styles.scss */
.mongo.concepts img {
  width: 560px;
  margin-left: 110px;
  margin-top: 20px; }

/* line 74, ../../src/scss/styles.scss */
.mongo.stack1 img {
  width: 840px;
  margin-top: 40px;
  margin-left: -40px; }

/* line 80, ../../src/scss/styles.scss */
.mongo.stack2 img {
  width: 650px;
  margin-left: 50px;
  margin-top: -30px; }

/* line 86, ../../src/scss/styles.scss */
.mongo.mysql img {
  width: 600px;
  margin-left: 110px; }

/* line 91, ../../src/scss/styles.scss */
#scrum-img div {
  padding: 0;
  margin: 0; }
/* line 92, ../../src/scss/styles.scss */
#scrum-img img {
  width: 850px;
  position: absolute;
  left: 50px; }

/* line 99, ../../src/scss/styles.scss */
.slide.list-details .details {
  font-size: 18px;
  line-height: 30px;
  margin-left: 30px; }

/* line 105, ../../src/scss/styles.scss */
.slide.exercise {
  background: url("../img/skylab-coders-logo-white.png") no-repeat top 0 right 25px;
  background-size: 20%;
  background-color: #272822;
  color: #FFF; }
  /* line 110, ../../src/scss/styles.scss */
  .slide.exercise.todo {
    background-color: #ea4335; }
  /* line 113, ../../src/scss/styles.scss */
  .slide.exercise * {
    color: #FFF; }

/* line 116, ../../src/scss/styles.scss */
img[alt="flexbox"] {
  width: 100%;
  top: 60px;
  position: relative; }

/* line 122, ../../src/scss/styles.scss */
img[alt^="Project:"] {
  width: 350px;
  display: block;
  margin: 15px 0; }

/* line 130, ../../src/scss/styles.scss */
.projects.details > div {
  top: -20px; }
/* line 133, ../../src/scss/styles.scss */
.projects.details h2 {
  margin-bottom: 0;
  font-weight: bolder; }
/* line 137, ../../src/scss/styles.scss */
.projects.details .tags {
  margin: 10px 40px 30px;
  float: left; }
  /* line 140, ../../src/scss/styles.scss */
  .projects.details .tags span {
    cursor: pointer;
    background-color: #5bc0de;
    border: 1px solid #5bc0de;
    margin: 2px;
    padding: 0 5px;
    font-size: 9px;
    color: #FFF;
    font-weight: bold;
    border-radius: 5px;
    float: left;
    display: block; }
  /* line 154, ../../src/scss/styles.scss */
  .projects.details .tags span:hover {
    background-color: #000; }
/* line 159, ../../src/scss/styles.scss */
.projects.details p {
  display: block;
  clear: both;
  margin: 0; }
  /* line 163, ../../src/scss/styles.scss */
  .projects.details p.link {
    font-weight: bold; }
  /* line 166, ../../src/scss/styles.scss */
  .projects.details p.repo {
    margin: 0 8px;
    font-size: 20px;
    font-style: italic; }
/* line 172, ../../src/scss/styles.scss */
.projects.details .gallery {
  clear: both;
  margin-top: 20px; }
  /* line 175, ../../src/scss/styles.scss */
  .projects.details .gallery img {
    width: 100px;
    transition: all 0.2s ease-in;
    float: left;
    margin: 10px;
    -webkit-box-shadow: 10px 10px 41px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 41px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 41px -3px rgba(0, 0, 0, 0.75); }
  /* line 184, ../../src/scss/styles.scss */
  .projects.details .gallery img:hover {
    transform: scale(2); }

/* line 192, ../../src/scss/styles.scss */
.clear-ideas-gruntfile.smallcode ul ul li code {
  font-size: 16px; }
/* line 193, ../../src/scss/styles.scss */
.clear-ideas-gruntfile.smallcode pre {
  margin-top: 20px;
  margin-left: 100px; }
  /* line 196, ../../src/scss/styles.scss */
  .clear-ideas-gruntfile.smallcode pre code:before {
    margin: 0; }

/* line 201, ../../src/scss/styles.scss */
#contents h2 {
  margin-bottom: 45px; }
/* line 202, ../../src/scss/styles.scss */
#contents .icon-keyboard:before, #contents .icon-laptop:before {
  margin-left: 52px;
  margin-right: -15px; }

/* line 208, ../../src/scss/styles.scss */
.slide h2 {
  font-size: 40px;
  margin-bottom: 20px; }

/* line 213, ../../src/scss/styles.scss */
[class^="icon-"] {
  font-family: "Open Sans",sans-serif; }
  /* line 215, ../../src/scss/styles.scss */
  [class^="icon-"]:before {
    font-family: FontAwesome; }

/* line 222, ../../src/scss/styles.scss */
.not-alone ul ul {
  margin-top: 10px;
  margin-left: 30px; }
  /* line 225, ../../src/scss/styles.scss */
  .not-alone ul ul li {
    position: relative;
    margin-left: -60px;
    margin-bottom: 10px; }

/* line 234, ../../src/scss/styles.scss */
.devicons {
  width: 30px;
  height: 30px;
  font-size: 40px;
  display: block-inline;
  margin-left: -45px;
  padding-left: 10px;
  position: relative; }
  /* line 235, ../../src/scss/styles.scss */
  .devicons.devicons-java {
    top: 6px; }
  /* line 238, ../../src/scss/styles.scss */
  .devicons.devicons-php {
    top: 10px; }
  /* line 241, ../../src/scss/styles.scss */
  .devicons.devicons-python {
    top: 10px; }
  /* line 251, ../../src/scss/styles.scss */
  .devicons:before {
    margin-right: 20px; }

/* line 256, ../../src/scss/styles.scss */
a[class|=icon] {
  font-size: 1.2em;
  background: none;
  text-decoration: none;
  width: auto !important; }
  /* line 261, ../../src/scss/styles.scss */
  a[class|=icon]:before {
    margin-right: 10px; }

/* line 265, ../../src/scss/styles.scss */
.small ol, .small ul {
  font-size: .7em; }

/* line 271, ../../src/scss/styles.scss */
.no-bullet-list.slide ul {
  margin-bottom: 50px; }
  /* line 273, ../../src/scss/styles.scss */
  .no-bullet-list.slide ul > li:before {
    content: ''; }
/* line 278, ../../src/scss/styles.scss */
.no-bullet-list.slide.resources ul {
  margin-left: -50px; }
/* line 281, ../../src/scss/styles.scss */
.no-bullet-list.slide.resources a {
  margin-left: -10px; }
/* line 282, ../../src/scss/styles.scss */
.no-bullet-list.slide.resources span {
  margin-left: 60px; }

/* line 288, ../../src/scss/styles.scss */
.section h1 {
  margin-top: 100px;
  font-size: 4em;
  text-align: center; }

/* line 296, ../../src/scss/styles.scss */
h6 {
  color: #ccc;
  position: absolute;
  top: 50px;
  left: 50px; }

@font-face {
  font-family: MOHAVE;
  src: url("Mohave.otf") format("opentype"); }
/* line 308, ../../src/scss/styles.scss */
.coverSession, #MainCover {
  /*img {
  	position: absolute;
  	top: 150px;
  	left: 100px;
  }
  */ }
  /* line 309, ../../src/scss/styles.scss */
  .coverSession, #MainCover {
    background: url("../img/skylab-coders-logo.png") no-repeat scroll right 310px top 390px #f0f0f0;
    background-size: 30%; }
  /* line 315, ../../src/scss/styles.scss */
  .coverSession > div, #MainCover > div {
    top: 0; }
  /* line 324, ../../src/scss/styles.scss */
  .coverSession h2, .coverSession h3, .coverSession h4, .coverSession ul li, #MainCover h2, #MainCover h3, #MainCover h4, #MainCover ul li {
    color: #453015;
    font-family: "MOHAVE",Helvetica,Arial,sans-serif; }
  /* line 328, ../../src/scss/styles.scss */
  .coverSession h2, #MainCover h2 {
    position: absolute;
    top: 180px;
    left: 410px;
    font-size: 2.7em;
    font-weight: bolder; }
  /* line 335, ../../src/scss/styles.scss */
  .coverSession .logos, #MainCover .logos {
    position: absolute;
    top: 0;
    border: 1px solid #CCC;
    background: #FFF;
    height: 260px;
    padding: 20px;
    left: 0;
    height: 100%;
    width: 31%; }
    /* line 346, ../../src/scss/styles.scss */
    .coverSession .logos > .box, #MainCover .logos > .box {
      position: absolute;
      top: 210px;
      left: 55px; }
    /* line 351, ../../src/scss/styles.scss */
    .coverSession .logos img, #MainCover .logos img {
      margin: 10px; }
  /* line 355, ../../src/scss/styles.scss */
  .coverSession h3, .coverSession h4, #MainCover h3, #MainCover h4 {
    position: absolute;
    top: 320px;
    left: 410px;
    font-size: 1.7em;
    line-height: 39px;
    text-align: center; }
    /* line 362, ../../src/scss/styles.scss */
    .coverSession h3 strong, .coverSession h4 strong, #MainCover h3 strong, #MainCover h4 strong {
      font-size: 1.5em; }

/* line 370, ../../src/scss/styles.scss */
#MainCover ul {
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 26%;
  line-height: 50px;
  text-align: center;
  background: white;
  height: 100%;
  padding: 50px;
  padding-top: 50px;
  border-right: 1px solid #bbb; }
  /* line 383, ../../src/scss/styles.scss */
  #MainCover ul li {
    margin-bottom: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    line-height: 40px; }

/* line 392, ../../src/scss/styles.scss */
.list-contents > div {
  width: 940px; }
/* line 395, ../../src/scss/styles.scss */
.list-contents ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 375px;
  width: 70%; }
  /* line 401, ../../src/scss/styles.scss */
  .list-contents ul li {
    width: 49%;
    font-size: 35px !important; }

/* line 409, ../../src/scss/styles.scss */
.slide.sass {
  border-left: 10px solid #c6538c; }

/* line 413, ../../src/scss/styles.scss */
.slide.mongo {
  border-left: 10px solid #449945; }

/* line 417, ../../src/scss/styles.scss */
.slide.express {
  border-left: 10px solid #30a2ff; }

/* line 421, ../../src/scss/styles.scss */
.slide.node {
  border-left: 10px solid #8cc84b; }

/* line 425, ../../src/scss/styles.scss */
.slide.bootstrap {
  border-left: 10px solid #5d4384; }

/* line 429, ../../src/scss/styles.scss */
.slide.d3 {
  border-left: 10px solid #f99d3e; }

/* line 433, ../../src/scss/styles.scss */
.slide.css3 {
  border-left: 10px solid #138dce; }

/* line 437, ../../src/scss/styles.scss */
.slide.html5 {
  border-left: 10px solid #f16529; }

/* line 441, ../../src/scss/styles.scss */
.slide.ux {
  border-left: 10px solid #CB0000; }
  /* line 443, ../../src/scss/styles.scss */
  .slide.ux img[alt="lean ux"] {
    width: 690px;
    left: 190px;
    position: absolute;
    top: 70px; }
  /* line 449, ../../src/scss/styles.scss */
  .slide.ux img[alt="mvp"] {
    width: 570px;
    left: 230px;
    position: absolute;
    top: 80px; }

/* line 458, ../../src/scss/styles.scss */
.slide.angular {
  border-left: 10px solid #e42839; }

/* line 463, ../../src/scss/styles.scss */
.slide.html5.kata p, .slide.html5.kata table, .slide.html5.kata ul {
  font-size: 18px;
  padding: 0;
  display: inline-block; }
/* line 468, ../../src/scss/styles.scss */
.slide.html5.kata p {
  margin: 0 0 20px; }
/* line 470, ../../src/scss/styles.scss */
.slide.html5.kata ul li {
  width: 45%;
  padding: 8px 10px;
  float: left;
  margin: 0;
  line-height: 17px;
  clear: right; }

/* line 476, ../../src/scss/styles.scss */
.slide.git {
  border-left: 10px solid #9cdaf1; }
  /* line 478, ../../src/scss/styles.scss */
  .slide.git.theory {
    border: 10px solid #9cdaf1; }
  /* line 481, ../../src/scss/styles.scss */
  .slide.git .block-icons {
    display: inline-block;
    margin-left: 100px; }
  /* line 486, ../../src/scss/styles.scss */
  .slide.git.install [class^="icon-"] {
    margin: 0 15px !important; }
  /* line 489, ../../src/scss/styles.scss */
  .slide.git.install [class="icon-tasks"] {
    margin-left: 60px !important; }
  /* line 492, ../../src/scss/styles.scss */
  .slide.git.image.workflow img {
    width: 700px;
    margin: 20px 0; }
  /* line 496, ../../src/scss/styles.scss */
  .slide.git.image.remote img {
    width: 540px;
    margin: 0 100px; }
  /* line 502, ../../src/scss/styles.scss */
  .slide.git.setup [class^="icon-"] {
    margin: 0 10px 0 0 !important; }

/* line 508, ../../src/scss/styles.scss */
.general ul {
  margin-left: -60px; }
  /* line 510, ../../src/scss/styles.scss */
  .general ul li {
    text-indent: 0;
    font-size: 25px;
    line-height: 1.8em; }
    /* line 514, ../../src/scss/styles.scss */
    .general ul li:before {
      content: none; }
    /* line 515, ../../src/scss/styles.scss */
    .general ul li span {
      padding: 0 0 0 10px; }
    /* line 516, ../../src/scss/styles.scss */
    .general ul li [class^="icon-"]:before {
      margin-right: 20px; }

/* line 521, ../../src/scss/styles.scss */
.slide.projects {
  border-left: 10px solid #323330; }

/* line 525, ../../src/scss/styles.scss */
.slide.javascript {
  border-left: 10px solid #feda3e; }
  /* line 527, ../../src/scss/styles.scss */
  .slide.javascript.theory {
    border: 10px solid #feda3e; }

/* line 532, ../../src/scss/styles.scss */
.slide.jquery {
  border-left: 10px solid #0769AD; }

/*

.slide.workflow {
	border-left: 10px solid $color-workflow;
	a[class^="icon-"] {
		margin-left: 2em;
	}
	&.exercise {
		span.devicons {
			font-size: 35px;
			&:before {
				top: 9px;
				position: relative;
				right: -24px;
			}
		}
	}
}

*/
/* line 558, ../../src/scss/styles.scss */
.slide.es2015 {
  border-left: 10px solid #323330; }
  /* line 561, ../../src/scss/styles.scss */
  .slide.es2015.history ul li {
    line-height: 33px;
    font-size: 20px; }
  /* line 566, ../../src/scss/styles.scss */
  .slide.es2015.resources ul li {
    line-height: 35px;
    font-size: 22px;
    margin: 10px 0; }
  /* line 571, ../../src/scss/styles.scss */
  .slide.es2015.resources pre {
    margin-top: 10px; }

/* line 576, ../../src/scss/styles.scss */
.slide.architecture {
  border-left: 10px solid #8266B2; }

/* line 581, ../../src/scss/styles.scss */
.coverSession {
  /*
  	&.jquery {
  		background: url("../img/skylab-coders-logo-white.png") no-repeat scroll right 180px top 400px $color-jquery;
  		img[alt="jQuery Logo"] {
  			margin:-20px 48px;
  			height: 150px;
  		}
  		//h2 { color: #FFF; top:250px; font-size:2.7em;}
  	}
  */ }
  /* line 583, ../../src/scss/styles.scss */
  .coverSession.sass {
    background: url("../img/skylab-coders-logo-white.png") no-repeat scroll right 310px top 300px #c6538c;
    background-size: 30%; }
    /* line 588, ../../src/scss/styles.scss */
    .coverSession.sass img[alt="sass logo"] {
      width: 240px;
      left: -5px;
      top: 0;
      position: absolute; }
    /* line 594, ../../src/scss/styles.scss */
    .coverSession.sass .box {
      top: 180px;
      left: 70px; }
    /* line 598, ../../src/scss/styles.scss */
    .coverSession.sass h2 {
      color: #FFF; }
    /* line 601, ../../src/scss/styles.scss */
    .coverSession.sass h3 {
      top: 410px;
      left: 53px;
      width: 240px;
      text-align: center;
      line-height: 51px; }
  /* line 612, ../../src/scss/styles.scss */
  .coverSession.es2015 {
    background: url("../img/skylab-coders-logo-white.png") no-repeat scroll right 310px top 300px #323330;
    background-size: 30%; }
    /* line 617, ../../src/scss/styles.scss */
    .coverSession.es2015 h2 {
      color: #F5DA55; }
    /* line 618, ../../src/scss/styles.scss */
    .coverSession.es2015 img[alt$="es2015 Logo"] {
      width: 210px;
      margin: -20px 48px;
      float: left; }
    /* line 623, ../../src/scss/styles.scss */
    .coverSession.es2015 .box {
      top: 220px;
      left: 10px; }
    /* line 624, ../../src/scss/styles.scss */
    .coverSession.es2015 h3 {
      top: 400px; }
    /* line 625, ../../src/scss/styles.scss */
    .coverSession.es2015 h4 {
      top: 460px; }
    /* line 626, ../../src/scss/styles.scss */
    .coverSession.es2015 h3 {
      top: 460px;
      left: 50px;
      width: 240px;
      text-align: center;
      line-height: 51px; }
  /* line 636, ../../src/scss/styles.scss */
  .coverSession.mongo {
    background: url("../img/skylab-coders-logo-white.png") no-repeat scroll right 310px top 300px #449945;
    background-size: 30%; }
    /* line 641, ../../src/scss/styles.scss */
    .coverSession.mongo img[alt="Mongo Logo"] {
      width: 210px;
      left: -20px;
      top: 0px;
      position: absolute; }
    /* line 647, ../../src/scss/styles.scss */
    .coverSession.mongo .box {
      top: 180px;
      left: 70px; }
    /* line 651, ../../src/scss/styles.scss */
    .coverSession.mongo h2 {
      color: #FFF; }
    /* line 654, ../../src/scss/styles.scss */
    .coverSession.mongo h3 {
      top: 430px;
      left: 50px;
      width: 240px;
      text-align: center;
      line-height: 51px; }
  /* line 663, ../../src/scss/styles.scss */
  .coverSession.express {
    background: url("../img/skylab-coders-logo-white.png") no-repeat scroll right 310px top 300px #30a2ff;
    background-size: 30%; }
    /* line 668, ../../src/scss/styles.scss */
    .coverSession.express img[alt="Express Logo"] {
      width: 350px;
      left: -80px;
      top: 50px;
      position: absolute; }
    /* line 674, ../../src/scss/styles.scss */
    .coverSession.express .box {
      top: 180px;
      left: 70px; }
    /* line 678, ../../src/scss/styles.scss */
    .coverSession.express h2 {
      color: #FFF; }
    /* line 681, ../../src/scss/styles.scss */
    .coverSession.express h3 {
      top: 360px;
      left: 50px;
      width: 240px;
      text-align: center;
      line-height: 51px; }
  /* line 690, ../../src/scss/styles.scss */
  .coverSession.node {
    background: url("../img/skylab-coders-logo-white.png") no-repeat scroll right 310px top 300px #8cc84b;
    background-size: 30%; }
    /* line 695, ../../src/scss/styles.scss */
    .coverSession.node img[alt="Node Logo"] {
      width: 160px;
      left: 10px;
      top: 0;
      position: absolute; }
    /* line 701, ../../src/scss/styles.scss */
    .coverSession.node .box {
      top: 180px;
      left: 70px; }
    /* line 705, ../../src/scss/styles.scss */
    .coverSession.node h2 {
      color: #FFF; }
    /* line 708, ../../src/scss/styles.scss */
    .coverSession.node h3 {
      top: 410px;
      left: 53px;
      width: 240px;
      text-align: center;
      line-height: 51px; }
  /* line 719, ../../src/scss/styles.scss */
  .coverSession.projects {
    background: url("../img/skylab-coders-logo-white.png") no-repeat scroll right 310px top 300px #323330;
    background-size: 30%; }
    /* line 725, ../../src/scss/styles.scss */
    .coverSession.projects img[alt="Projects Logo"] {
      width: 230px;
      left: -20px;
      top: -30px;
      position: absolute; }
    /* line 731, ../../src/scss/styles.scss */
    .coverSession.projects .box {
      top: 180px;
      left: 70px; }
    /* line 735, ../../src/scss/styles.scss */
    .coverSession.projects h2 {
      color: #FFF; }
    /* line 738, ../../src/scss/styles.scss */
    .coverSession.projects h3 {
      top: 420px;
      left: 70px;
      width: 240px;
      text-align: center;
      line-height: 51px; }
  /* line 748, ../../src/scss/styles.scss */
  .coverSession.angular {
    background: url("../img/skylab-coders-logo-white.png") no-repeat scroll right 310px top 300px #e42839;
    background-size: 30%; }
    /* line 752, ../../src/scss/styles.scss */
    .coverSession.angular img[alt="Angular Logo"] {
      width: 280px;
      left: -40px;
      top: -55px;
      position: absolute; }
    /* line 758, ../../src/scss/styles.scss */
    .coverSession.angular .box {
      top: 180px;
      left: 70px; }
    /* line 762, ../../src/scss/styles.scss */
    .coverSession.angular h3 {
      top: 430px;
      left: 90px; }
  /* line 769, ../../src/scss/styles.scss */
  .coverSession.jquery {
    background: url("../img/skylab-coders-logo-white.png") no-repeat scroll right 310px top 300px #0769AD;
    background-size: 30%; }
    /* line 773, ../../src/scss/styles.scss */
    .coverSession.jquery img[alt="jQuery Logo"] {
      width: 200px;
      left: 130px;
      top: -25px; }
    /* line 778, ../../src/scss/styles.scss */
    .coverSession.jquery .box {
      top: 180px;
      left: 70px; }
    /* line 782, ../../src/scss/styles.scss */
    .coverSession.jquery h3 {
      top: 380px;
      left: 100px; }
  /* line 788, ../../src/scss/styles.scss */
  .coverSession.d3 {
    background: url("../img/skylab-coders-logo-white.png") no-repeat scroll right 310px top 300px #f99d3e;
    background-size: 30%; }
    /* line 792, ../../src/scss/styles.scss */
    .coverSession.d3 img[alt="D3 Logo"] {
      width: 200px;
      left: 130px;
      top: -25px; }
    /* line 797, ../../src/scss/styles.scss */
    .coverSession.d3 .box {
      top: 180px;
      left: 70px; }
    /* line 801, ../../src/scss/styles.scss */
    .coverSession.d3 h3 {
      top: 430px;
      left: 160px; }
  /* line 808, ../../src/scss/styles.scss */
  .coverSession.bootstrap {
    background: url("../img/skylab-coders-logo-white.png") no-repeat scroll right 310px top 300px #5d4384;
    background-size: 30%; }
    /* line 812, ../../src/scss/styles.scss */
    .coverSession.bootstrap img[alt="bootstrap logo"] {
      width: 200px;
      left: 130px;
      top: -25px; }
    /* line 817, ../../src/scss/styles.scss */
    .coverSession.bootstrap .box {
      top: 180px;
      left: 70px; }
    /* line 821, ../../src/scss/styles.scss */
    .coverSession.bootstrap h2 {
      color: #eee; }
    /* line 824, ../../src/scss/styles.scss */
    .coverSession.bootstrap h3 {
      top: 430px;
      left: 70px; }
  /* line 831, ../../src/scss/styles.scss */
  .coverSession.ux {
    background: url("../img/skylab-coders-logo-white.png") no-repeat scroll right 310px top 300px #CB0000;
    background-size: 30%; }
    /* line 835, ../../src/scss/styles.scss */
    .coverSession.ux img[alt="ux logo"], .coverSession.ux img[alt="mockups logo"] {
      width: 130px;
      position: absolute; }
    /* line 839, ../../src/scss/styles.scss */
    .coverSession.ux img[alt="mockups logo"] {
      left: 130px;
      top: -25px; }
    /* line 844, ../../src/scss/styles.scss */
    .coverSession.ux h2 {
      color: #eee; }
    /* line 848, ../../src/scss/styles.scss */
    .coverSession.ux .box {
      top: 250px;
      left: 50px; }
    /* line 852, ../../src/scss/styles.scss */
    .coverSession.ux h3 {
      top: 390px;
      left: 70px; }
  /* line 858, ../../src/scss/styles.scss */
  .coverSession.css3 {
    background: url("../img/skylab-coders-logo-white.png") no-repeat scroll right 310px top 300px #138dce;
    background-size: 30%; }
    /* line 862, ../../src/scss/styles.scss */
    .coverSession.css3 img[alt="CSS3 Logo"] {
      width: 220px; }
    /* line 865, ../../src/scss/styles.scss */
    .coverSession.css3 .box {
      top: 150px;
      left: 50px; }
    /* line 869, ../../src/scss/styles.scss */
    .coverSession.css3 h3 {
      top: 440px;
      left: 105px; }
  /* line 875, ../../src/scss/styles.scss */
  .coverSession.html5 {
    background: url("../img/skylab-coders-logo-white.png") no-repeat scroll right 310px top 300px #f16529;
    background-size: 30%; }
    /* line 879, ../../src/scss/styles.scss */
    .coverSession.html5 img[alt="HTML5 Logo"] {
      width: 210px; }
    /* line 882, ../../src/scss/styles.scss */
    .coverSession.html5 .box {
      top: 160px;
      left: 55px; }
    /* line 886, ../../src/scss/styles.scss */
    .coverSession.html5 h3 {
      top: 440px;
      left: 105px; }
  /* line 892, ../../src/scss/styles.scss */
  .coverSession.git {
    background: url("../img/skylab-coders-logo-white.png") no-repeat scroll right 310px top 300px #9cdaf1;
    background-size: 30%; }
    /* line 896, ../../src/scss/styles.scss */
    .coverSession.git img[alt$="logo"] {
      height: 100px;
      float: left; }
    /* line 900, ../../src/scss/styles.scss */
    .coverSession.git img[alt="markdown logo"] {
      width: 110px;
      height: inherit;
      margin: 22px; }
    /* line 905, ../../src/scss/styles.scss */
    .coverSession.git .box {
      top: 150px; }
    /* line 908, ../../src/scss/styles.scss */
    .coverSession.git h3 {
      top: 440px;
      left: 75px; }
  /* line 917, ../../src/scss/styles.scss */
  .coverSession.javascript {
    background: url("../img/skylab-coders-logo-white.png") no-repeat scroll right 310px top 300px #feda3e;
    background-size: 30%; }
    /* line 922, ../../src/scss/styles.scss */
    .coverSession.javascript img[alt="Javascript Logo"] {
      margin: -20px 48px;
      height: 150px; }
    /* line 926, ../../src/scss/styles.scss */
    .coverSession.javascript .box {
      top: 225px;
      left: 50px; }
    /* line 930, ../../src/scss/styles.scss */
    .coverSession.javascript h3 {
      top: 390px;
      left: 55px; }
  /* line 946, ../../src/scss/styles.scss */
  .coverSession.workflow {
    background: url("../img/skylab-coders-logo-white.png") no-repeat scroll right 180px top 400px #F37D0B;
    /*   ![npm Logo](img/workflow/npm.svg)
    	![grunt Logo](img/workflow/grunt.png)
    	![bower Logo](img/workflow/bower.png)
    	![yeoman Logo](img/workflow/yeoman.png)
    <d
     */ }
    /* line 955, ../../src/scss/styles.scss */
    .coverSession.workflow img[alt$="logo"] {
      /* margin:-20px 48px; */
      height: 100px;
      float: left; }
    /* line 959, ../../src/scss/styles.scss */
    .coverSession.workflow .box {
      top: 150px; }
    /* line 960, ../../src/scss/styles.scss */
    .coverSession.workflow h3 {
      top: 420px; }
  /* line 966, ../../src/scss/styles.scss */
  .coverSession.architecture {
    background: url("../img/skylab-coders-logo-white.png") no-repeat scroll right 180px top 400px #8266B2; }
    /* line 969, ../../src/scss/styles.scss */
    .coverSession.architecture img[alt$="logo"] {
      margin: 0; }
    /* line 970, ../../src/scss/styles.scss */
    .coverSession.architecture img[alt="es2015 logo"] {
      width: 250px; }
    /* line 971, ../../src/scss/styles.scss */
    .coverSession.architecture img[alt="babel logo"] {
      width: 185px; }
    /* line 972, ../../src/scss/styles.scss */
    .coverSession.architecture img[alt="webpack logo"] {
      width: 100px; }
    /* line 973, ../../src/scss/styles.scss */
    .coverSession.architecture .box {
      top: 160px;
      left: 30px;
      width: 300px;
      text-align: center; }
    /* line 979, ../../src/scss/styles.scss */
    .coverSession.architecture h3 {
      top: 400px; }
    /* line 980, ../../src/scss/styles.scss */
    .coverSession.architecture h4 {
      top: 460px; }

/* line 988, ../../src/scss/styles.scss */
.general.contents ul li {
  font-size: 23px; }
/* line 990, ../../src/scss/styles.scss */
.general ol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  /* line 994, ../../src/scss/styles.scss */
  .general ol li {
    display: flex; }

/* line 1000, ../../src/scss/styles.scss */
.what blockquote {
  margin-top: 1.2em;
  font-size: 3em; }

/* line 1007, ../../src/scss/styles.scss */
.what2 blockquote {
  margin-top: 2em;
  font-size: 2em; }

/* line 1014, ../../src/scss/styles.scss */
.what3 blockquote {
  margin-top: 2em;
  font-size: 2em; }
  /* line 1015, ../../src/scss/styles.scss */
  .what3 blockquote p {
    line-height: 1.5em; }

/* line 1023, ../../src/scss/styles.scss */
.two-columns-list {
  /* The maximum number of items a single column can handle.  If a column has more items than the maximum defined here, some items won't display. */ }
  /* line 1029, ../../src/scss/styles.scss */
  .two-columns-list ol {
    position: relative;
    margin: 0 0 50px;
    padding: 0;
    font-size: 16px; }
  /* line 1036, ../../src/scss/styles.scss */
  .two-columns-list ol li {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 50%;
    list-style-position: inside;
    line-height: 1.5; }
  /* line 1046, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+2) {
    top: 1.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 1046, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+3) {
    top: 3em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 1046, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+4) {
    top: 4.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 1046, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+5) {
    top: 6em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 1046, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+6) {
    top: 7.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 1046, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+7) {
    top: 9em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 1046, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+8) {
    top: 10.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 1046, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+9) {
    top: 12em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 1046, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+10) {
    top: 13.5em;
    /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/ }
  /* line 1052, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+3):nth-last-child(-n+2) {
    position: static;
    margin-left: 50%; }
  /* line 1052, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+4):nth-last-child(-n+3) {
    position: static;
    margin-left: 50%; }
  /* line 1052, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+5):nth-last-child(-n+4) {
    position: static;
    margin-left: 50%; }
  /* line 1052, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+6):nth-last-child(-n+5) {
    position: static;
    margin-left: 50%; }
  /* line 1052, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+7):nth-last-child(-n+6) {
    position: static;
    margin-left: 50%; }
  /* line 1052, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+8):nth-last-child(-n+7) {
    position: static;
    margin-left: 50%; }
  /* line 1052, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+9):nth-last-child(-n+8) {
    position: static;
    margin-left: 50%; }
  /* line 1052, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+10):nth-last-child(-n+9) {
    position: static;
    margin-left: 50%; }
  /* line 1052, ../../src/scss/styles.scss */
  .two-columns-list ol li:nth-child(n+11):nth-last-child(-n+10) {
    position: static;
    margin-left: 50%; }

/* line 1060, ../../src/scss/styles.scss */
.slide ol, .slide ul {
  margin-bottom: 10px; }
/* line 1063, ../../src/scss/styles.scss */
.slide p {
  display: inline; }
/* line 1066, ../../src/scss/styles.scss */
.slide {
  background: url("../img/skylab-coders-logo.png") no-repeat top 25px right 25px #FFF;
  background-size: 20%; }

/* line 1074, ../../src/scss/styles.scss */
.showterm a {
  margin: 0;
  float: right;
  /*    background: none; */ }

/* line 1082, ../../src/scss/styles.scss */
.smallcode h2 {
  margin-bottom: 25px; }
/* line 1085, ../../src/scss/styles.scss */
.smallcode pre {
  margin-left: 50px; }
  /* line 1087, ../../src/scss/styles.scss */
  .smallcode pre code {
    line-height: 1.3;
    font-size: 18px; }
/* line 1093, ../../src/scss/styles.scss */
.smallcode.smaller pre code {
  font-size: 12px; }

/* custom fonts */
@font-face {
  font-family: "untitled-font-1";
  src: url("custom-juanma-font.eot");
  src: url("custom-juanma-font.eot?#iefix") format("embedded-opentype"), url("custom-juanma-font.ttf") format("truetype"), url("custom-juanma-font.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
[data-icon]:before {
	font-family: "untitled-font-1" !important;
	contents: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*/
/*
[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "untitled-font-1" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*/
/* line 1146, ../../src/scss/styles.scss */
.icon-pixelovers:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "a"; }

/*
.icon-t-shirt:before {
	content: "b";
}
.icon-home:before {
	content: "c";
}
.icon-fontawesome-webfont:before {
	content: "d";
}
.icon-linkedin:before {
	content: "e";
}
.icon-twitter:before {
	content: "f";
}
.icon-facebook:before {
	content: "g";
}
.icon-google-plus:before {
	content: "h";
}
.icon-letter-mail:before {
	content: "i";
}
*/
/* line 1185, ../../src/scss/styles.scss */
.icon-pixelovers-1:before {
  content: "j"; }

/* line 1189, ../../src/scss/styles.scss */
.fa {
  margin: 0 5px 0 -30px; }

/*# sourceMappingURL=print.css.map */
